@page
@model LotTrackerApp.Pages.LotesPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProdutoLote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoLote.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoLote.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoLote.Fabricante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoLote.Fabricante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoLote.DtFabrico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoLote.DtFabrico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoLote.DtValidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProdutoLote.DtValidade)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProdutoLote.Produto" />
        <input type="hidden" asp-for="ProdutoLote.Lote" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
